// .c-footer {
// 	width: 100%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	gap: 30px;
// 	padding: 20px 40px;

// 	&__logo {
// 		font-size: 30px;
// 		font-weight: bold;
// 	}

// 	&__list {
// 		display: flex;
// 		gap: 16px;
// 		padding: 12px;
// 	}
// }

// .c-header {
// 	width: 100%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	gap: 30px;
// 	padding: 20px 40px;

// 	&__logo {
// 		font-size: 30px;
// 		font-weight: bold;
// 	}

// 	&__list {
// 		display: flex;
// 		gap: 16px;
// 		padding: 12px;
// 	}
// }

$border: #e7e7e7;

body {
	background-color: #f6f6f6;
}

.form {
	display: grid;
	gap: 16px;
	width: 1000px;
}

.section {
	$parent: &;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px;
	border-radius: 16px;

	&__header {
		display: flex;
		justify-content: start;
		align-items: center;
		height: 107px;
		padding: 0 40px;
		border-bottom: 1px solid $border;
	}

	&__title {
		font-size: 22px;
		font-weight: bold;
	}

	&__body {
		padding: 0px 40px 8px;
	}

	&__item {
		display: grid;
		align-items: start;
		grid-template-columns: 160px 1fr;
		gap: 26px;
		padding: 32px 0;

		&__head {
			font-size: 16px;
			font-weight: bold;
		}

		&__content {

		}
	}

	&__item+&__item {
		border-top: 1px solid $border;
	}

	&__contents+&__contents {
		margin-top: 32px;
		padding-top: 32px;
		border-top: 1px solid $border;
	}
}

.c-cassette {
	$parent: &;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px;
	border-radius: 16px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 96px;
		padding: 0 40px;
		border-bottom: 1px solid $border;
	}

	&__title {
		font-size: 22px;
		font-weight: bold;
	}

	&__body {
		padding: 24px;
	}

	&__dl {
		&__item {
			display: grid;
			align-items: start;
			grid-template-columns: 80px 1fr;
			gap: 26px;
			padding: 16px 0;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}
		}

		&__item+&__item {
			border-top: 1px solid $border;
		}

		&__head {
			line-height: 42px;
			font-size: 16px;
			font-weight: bold;
		}

		&__content {}

		&__formWrapper {
			display: flex;
			gap: 4px;
		}
	}

	&__contents {
		padding: 16px 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__contents+&__contents {
		border-top: 1px solid $border;
	}
}

.c-alert {
	display: block;
	color: red;
	font-size: 0.8rem;

	& + .c-alert {
		margin-top: 4px;
	}
}

.scheduleContent {
	padding: 32px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px;
	border-radius: 16px;

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8px;
	}

	&__body {
		margin-top: 12px;
	}

	&__title {
		font-weight: bold;
	}
}

.scheduleWrap {
	&__contents {
		margin-top: 32px;
	}
	&__contents__item+&__contents__item {
		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid $border;
	}
}